body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  h1 {
    color: navy;
    font-family: "Times New Roman", Times, serif;
    margin-left: 20px;
    text-transform: uppercase;

  }
  #hobbiesTitle
  {
    color:red;
    font-size: 20px; 
    text-shadow: 2px 2px #010005;
 
  }
  #myList
  {
    font-style: italic;
    font-weight: bold;
  }
  #myFrame
  {
      background-color: white;
      border-style: dotted;
      border-color: turquoise;

  }